{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    .w3-bar-block .w3-bar-item {padding:20px}

    h1 {
        font-family: 'Playfair Display SC', serif;
        font-size: 46px;  
    }

    h2 {
        font-family: 'Playfair Display SC', serif;
        font-size: 46px;  
    }

    h3 {
        font-family: 'Playfair Display SC', serif;
        font-size: 30px;
        line-height: 1.8;  
    }

    h4 {
      font-family: 'Playfair Display SC', serif;
    }
</style>

<title>About</title>
<h1>A B O U T</h1>

<hr>

<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
      <div class="w3-quarter">
        <img src="/static/hiking.jpeg" alt="Hiking" style="width:100%">
        <h3>Hiking on the Island</h3>
        <p>I grew up on Vancouver Island, and was always surrounded by a ton of nature!</p>
      </div>
      <div class="w3-quarter">
        <img src="/static/dessert.jpg" alt="Dessert" style="width:100%;">
        <h3> Sweet Tooth</h3>
        <p> A bit obsessed with sweets and finding new hidden gems! Always looking for more recommendations</p>
      </div>
      <div class="w3-quarter">
        <img src="/static/makingpizza.jpg" alt="Making Pizza" style="width:100%">
        <h3>Home Cook</h3>
        <p>Not only do I like eating food, cooking it is fun as well! This is a margherita pizza I made a while back!</p>
      </div>
      <div class="w3-quarter">
        <img src="/static/picnic.jpg" alt="Picnic" style="width:100%">
        <h3> Picnics in the Sun</h3>
        <p> One of my favourite Vancouver past-times is picnics when the sun gets better! This one was on Granville Island</p>
      </div>
    </div>
    
    <!-- Second Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div class="w3-quarter">
        <img src="/static/hotpot.jpg" alt="Hot Pot" style="width:100%">
        <h3>Hot Pot at Home!</h3>
        <p>Growing up with asian parents, not only is hot pot one of my favourite meals, its also a very fun activity</p>
      </div>
      <div class="w3-quarter">
        <img src="/static/book.jpg" alt="Book" style="width:100%">
        <h3>Books Galore</h3>
        <p>I'm a huge reader, which is something I'm pretty proud of! My tastes range from high fantasy to romantic comedies to science fiction!</p>
      </div>
      <div class="w3-quarter">
        <img src="/static/gym.jpg" alt="Gym" style="width:100%">
        <h3>Workout Time!</h3>
        <p>Something I've gotten into lately is my physical health, and I try to hit the gym at least 4 times a week!</p>
      </div>
      <div class="w3-quarter">
        <img src="/static/bubble tea.jpg" alt="Bubble Tea" style="width:100%">
        <h3>Bubble Tea</h3>
        <p>Finally, my bubble tea addiction is never ending. My current favourite is strawberry green tea with honey pearls! </p>
      </div>
    </div>

    <hr id="about">

  
    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">  
      <h3>About Me, Anqi Xu!</h3><br>
      <img src="/static/anqimirror.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
      <div class="w3-padding-32">

        <h6><i>email: <a href="mailto:anqix2002@gmail.com">anqix2002@gmail.com</a> &emsp; 
          github: <a href="https://github.com/anqixxx">
          anqixxx</a> &emsp; linkedin: <a href="https://www.linkedin.com/in/anqi-xu-a60b191a9/">Anqi Xu</a></i>
        </h6>
        
        <div class="silverline"></div>

        <p class="big">
          <br>
          Welcome to my website! Thanks for sticking around and reading through it! 
            <br>
            <br>
            A little about me: I am currently a full time student at UBC, majoring in engineering physics with a minor in commerce!
            My interests include software, hardware, physics, and project managment! In the future I would love
            to have more exposure in academia, research, and more! 
        <br>
        <br>
            When I'm not in school, I pride myself on trying new things, such as urban exploring, discovering cool spots in nature, a variety of new books, or pilates!
            I'm a huge foodie, with a mission to eat at every resturant in Vancouver. My favourite cusines are Greek, Japanese, Indian and Thai! I also 
            like to challenge myself with cooking or baking, with stress-cookies after exams:)
        <br>
        <br>
            Feel free to contact me via email or the Contact Me form! I look forward to hearing from you!</p>
      </div>
    </div>
    
  
  <!-- End page content -->
  </div>
  

{% endblock %}