{% extends "resume.html" %}

{% block content %}
<style>
    div.sweetfactory {
        color: white;
        background-color: var(--darkerblue);
        padding: 20px; 
        margin: 25px;
        animation-name: unfurl;
        animation-duration: 2s;
        border: 2px solid silver;
        border-radius: 5px;
    }

    div.ecoclub {
        color: white;
        background-color: var(--darkerblue);
        padding: 20px; 
        margin: 25px;
        animation-name: unfurl;
        animation-duration: 2s;
        border: 2px solid silver;
        border-radius: 5px;
    }

    p.italic {
      font-style: italic;
    }

    div.silverline {
        animation-name: opacity;
        animation-duration: 2s;
    }

    @keyframes opacity {
    95% {opacity: 0%;}
    }

    @keyframes unfurl {
	0% {transform: scale(.005, 0); background-color: white;}
	20% {transform: scale(.005, 1); background-color: white; color: white;}
    90% {transform: scale(1, 1); opacity: 40%;}
    95% {color: rgba(3, 7, 16, 0.776);}
    100% {background-color: var(--darkerblue); color: white;}
    }


</style>

<title>Non Tech</title>
<h2> Non Technical Experience </h2>

<span class="smallblock"></span>

<div class="sweetfactory">
    <h3> Sweet Factory Nanaimo — Assistant Manager </h3>
    <p class="italic">Nov 2017 - Mar 2020</p>
    <br>
    <div class="silverline"></div>
    <br>
    <p class="big">
        Created product displays and provided excellent customer service
        <br>
        Performed administrative work, inventory calls, employee training, and product classification
    </p>
</div>

<span class="smallblock"></span>

<div class="ecoclub">
    <h3> Environmental Club — President </h3>
    <p  class="italic">Sept 2016 - Jun 2020</p>
    <br>
    <div class="silverline"></div>
    <br>
    <p class="big">
       Initiated a variety of different activities, including school cleanups, recycling programs, elementary school outreach, fish foraging research, and Earth Week celebrations
       <br>
       Started a classroom composting program and led the push for a zero waste cafeteria, replacing all single-use cutlery with compostable materials
       <br>
       Raised funds and awareness to international affairs by raising 461 dollars for the Australian Wildfires and Amazon Rainfores
    </p>
</div>

{% endblock %}