{% extends "resume.html" %}

{% block content %}
<style>
    div.programming {
      text-align: center;
      background-color: var(--darkerblue);
      color: white;
      animation-name: movement;
      animation-duration: 3s;
      position: relative;
      left: 50%;
      padding: 100px; 
      width: 500px;
      transform: translateX(-50%);
    }

    div.electrical {
      text-align: center;
      background-color: var(--darkerblue);
      color: white;
      animation-name: movement;
      animation-duration: 3s;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 100px; 
        width: 550px;
    }

    div.mechanical {
      text-align: center;
      background-color: var(--darkerblue);
      color: white;
      animation-duration: 3s;
      animation-name: movement;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 100px; 
        width: 600px;
    }

    div.languages {
      text-align: center;
      background-color: var(--darkerblue);
      color: white;
      animation-duration: 3s;
      animation-name: movement;
      position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 100px; 
        width: 650px;
    }

    @keyframes colourchange {
        from {background-color: black;}
        to {background-color: white;}
    }

    @keyframes movement {
      0%   {background-color:black; left:5%;}
      10%  {background-color:var(--lightblue); left:95%;}
      35%  {background-color:grey; left:25%; top:0;}
      60%  {background-color:var(--lightblue); left:75%;}
      80% {background-color:white; left: 30%;}
      90% {background-color: gainsboro; left: 60%;}
      100% {background-color:#fbfbfb; left: 50%;}

}

</style>
<title>Skills</title>
<h2> SKILLS </h2>

<span class="smallblock"></span>

<div class="programming">
    <h3> Programming </h3>
    <p>
        C programming, Java, Arduino, Git, Intellj, Visual Studio, Matlab, Excel
    </p>
</div>

<span class="smallblock"></span>

<div class="electrical">
    <h3> Electrical </h3>
    <p>
        Altium, Soldering, Multimeters, Oscilloscopes
    </p>
</div>

<span class="smallblock"></span>

<div class="mechanical">
    <h3> Mechanical </h3>
    <p>
        Solidworks, Prototyping, Engineering Drawings
    </p>
</div>

<span class="smallblock"></span>

<div class="languages">
    <h3> Languages </h3>
    <p>
        English (native), Mandarin (fluent)
    </p>    
</div>


{% endblock %}