{% extends "resume.html" %}

{% block content %}
<style>
    div.programming {
      text-align: center;
      background-color: var(--darkerblue);
      color: white;
      animation-name: movement;
      animation-duration: 2s;
      position: relative;
      left: 50%;
      padding: 100px; 
      max-width: 500px;
      transform: translateX(-50%);
    }

    div.electrical {
      text-align: center;
      background-color: var(--darkerblue);
      color: white;
      animation-name: movement;
      animation-duration: 2s;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 100px; 
        max-width: 550px;
    }

    div.mechanical {
      text-align: center;
      background-color: var(--darkerblue);
      color: white;
      animation-duration: 2s;
      animation-name: movement;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      padding: 100px; 
      max-width: 600px;
    }

    div.languages {
      text-align: center;
      background-color: var(--darkerblue);
      color: white;
      animation-duration: 2s;
      animation-name: movement;
      position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 100px; 
        max-width: 650px;
    }


    @keyframes movement {
      0%   {background-color:var(--darkerblue); left: 15%; color: white; opacity: 0%;}
      25%  {background-color: white; left:85%; opacity: 25%;}
      50%  {background-color:var(--darkerblue); left:32.5%; top:0; opacity: 50%;}
      75%  {background-color: white; left:67.5%; opacity: 75%;}
      100% {background-color: var(--darkerblue); left: 50%; opacity: 100%;}

}

</style>
<title>Skills</title>
<h2> SKILLS </h2>

<span class="smallblock"></span>

<div class="programming">
    <h3> Programming </h3>
    <p>
        C programming, Java, Arduino, Git, Intellj, Visual Studio, Matlab, Excel
    </p>
</div>

<span class="smallblock"></span>

<div class="electrical">
    <h3> Electrical </h3>
    <p>
        Altium, Soldering, Multimeters, Oscilloscopes
    </p>
</div>

<span class="smallblock"></span>

<div class="mechanical">
    <h3> Mechanical </h3>
    <p>
        Solidworks, Prototyping, Engineering Drawings
    </p>
</div>

<span class="smallblock"></span>

<div class="languages">
    <h3> Languages </h3>
    <p>
        English (native), Mandarin (fluent)
    </p>    
</div>


{% endblock %}