{% extends "resume.html" %}

{% block content %}
<style>
    div.rocket {
        color: white;
        padding: 20px; 
        margin: 25px;
        background-color: var(--darkerblue);
        animation-name: linetrans;
        animation-duration: 2s;
    }

    p.italic {
      font-style: italic;
    }

    @keyframes linetrans {
	0% {transform: scale(0, .025);}
    1% {background-color: white;}
    69% {background-color: white;}
	70% {transform: scale(1, .025);}
    95% {transform: scale(1, 1);}
    100% {background-color: var(--darkerblue);}
    }
</style>

<title>Technical Experience</title>
<h2> TECHNICAL EXPERIENCE </h2>

<div class="rocket">
    <h3> UBC Rocket — Aerostats Co-Lead  </h3>
    <p class="italic">Sept 2020 - Present     </p>
    <div class="silverline"></div>
    <p class="big">
        Created and launched a meteorological balloon to test wind conditions up to 30km high to determine the suitability for rocket launches 
    <br>	       
        Designed and soldered circuits for electrical components, focusing on lightness and efficiency due to the limited payload capacity of the balloon 
    <br>	
        Programmed an Arduino to take input from sensors and regularly transmit data 
        <br>	
        Communicated with suppliers and companies for sponsorship, fully funding 53% of our project 
    </p>
    <div class="silverline"></div>

</div>

{% endblock %}