{% extends "resume.html" %}

{% block content %}
<style>
    * {
        box-sizing: border-box;
    }
    
    div.techexp {
        /* // color: #ffffff; */
        padding: 20px; 
        margin: 25px;
        /* animation-name: linetrans;
        animation-duration: 4s; */
        border: 2px solid silver;
        border-radius: 5px;
    }

    p.italic {
      font-style: italic;
    }

    /* .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding-bottom: 20px;
        padding-top: 20px;
        animation-name: linetrans;
        animation-duration: 2s;
    } */

    /* .grid-container img {
        opacity: 0.8; 
        cursor: pointer; 
        width:70%; 
        padding: 5%; 
    }

    .grid-container video{
        opacity: 0.8; 
        cursor: pointer; 
        width:70%; 
        padding: 5%; 
    } */

    .row{
        padding-left: 10%;
        padding-right: 10%;
    }

    
    .column {
        float: left;
        width: 33.33%;
    }

    .column img {
        /*opacity: 0.7; */
        cursor: pointer; 
        width:100%; 
/*        animation-name: imagefade;
        animation-duration: 2s;*/
    }

    .column video {
        /*opacity: 0.7; */
        cursor: pointer; 
        width:100%; 
        position: relative; 
        transform: translateY(50%);
    }

    .column image:hover {
        /* opacity: 1; */
    }

    .column video:hover {
        /* opacity: 1; */
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* .container {
        position: relative;
        display: none;
        width: 90%;
        padding: 20px;
    } */

    .closebtn {
        position: absolute;
        top: 5%;
        right: 5%;
        color: var(--darkerblue);
        font-size: 35px;
        cursor: pointer;
    }

    @keyframes linetrans {
	0% {transform: scale(0, .025);}
    1% {background-color: white; top: 100px;}
    69% {background-color: white;}
	70% {transform: scale(1, .025); top: 0px;}
    95% {transform: scale(1, 1);}
    100% {background-color: var(--darkerblue);}
    }

    @keyframes imagefade {
        0% {transform: scale(0, .025); opacity: 0;}
	    70% {transform: scale(1, .025);}
        95% {transform: scale(1, 1); opacity: 0;}
    }
</style>

<script>
    function myFunction(imgs) {
      var expandImg = document.getElementById("expandedImg");
      expandImg.src = imgs.src;
      expandImg.parentElement.style.display = "block";
    }
    </script>

<title>Technical Experience</title>
<h2> TECHNICAL EXPERIENCE </h2>
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:10px">
<div class="techexp">
    <h3> <img src="static\bccancer.png" style="max-width: 20px; max-height: 20px;"> BC Cancer Research Co-op  </h3>
    <p class="italic"> January 2022 - April 2022     </p>
    <div class="silverline"></div>
    <div class="row">
        <div class="column">
        <img src="static\bccrcircuit.jpg" class="w3-image" style="display:block;margin:auto" alt="UBC Image" onclick="myFunction(this);"> 
        </div>
        <div class="column">
        <img src="static\bccrcmg.jpg"  class="w3-image" style="display:block;margin:auto" alt="UBC Image" onclick="myFunction(this);">
        </div>
        <div class="column">
        <img src="static\bccrpcb.jpg"  class="w3-image" style="display:block;margin:auto" alt="UBC Image" onclick="myFunction(this);">
        </div>
    </div>
    <div class="container">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
        <img id="expandedImg" style="width:100%">
        <div id="imgtext"></div>
      </div>
    <p class="big">
        Assisted in the development and training of a deep-learning algorithm to segment cell nuclei with an up to 98% accuracy rate
    <br>	       
        Delineated and analyzed over 800 whole-slide histopathology images within MATLAB to further the development of a diagnostic software suite of tools
    <br>	
        Designed and soldered a custom printed board in KiCAD for multispectral imaging
    <br>	
        Sourced and tested specific light-emitting diodes that are small enough to fit under the microscope stage
        <br>
        <br>
</p>
    <div class="silverline"></div>

</div>

<div class="techexp">
    <h3> <img src="static\ubcrocket.jpg" style="max-width: 20px; max-height: 20px;"> UBC Rocket — Aerostats Co-Lead  </h3>
    <p class="italic">September 2020 - Present     </p>
    <div class="silverline"></div>
    <div class="row">
        <div class="column">
        <img src="static\aerostatsbox.jpg" alt="UBC Image"  class="w3-image" style="display:block;margin:auto" onclick="myFunction(this);"> 
        </div>
        <div class="column">    
        <img src="static\aerostatscircuit.jpg" alt="UBC Image" class="w3-image" style="display:block;margin:auto" onclick="myFunction(this);">
        </div>
        <div class="column">    
        <img src="static\aerostatbal.jpg" alt="UBC Image" class="w3-image" style="display:block;margin:auto" onclick="myFunction(this);">
        </div>
    </div>
    <div class="container">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
        <img id="expandedImg" style="width:100%">
        <div id="imgtext"></div>
      </div>
    <p class="big">
        Created and launched a meteorological balloon to test wind conditions up to 30km high to determine the suitability for rocket launches 
    <br>	       
        Designed and soldered circuits for electrical components, focusing on lightness and efficiency due to the limited payload capacity of the balloon 
    <br>	
        Programmed an Arduino to take input from sensors and regularly transmit data 
        <br>	
        Communicated with suppliers and companies for sponsorship, fully funding 53% of our project
        <br>
        <br>
    </p>
    <div class="silverline"></div>

</div>

<div class="techexp">
    <h3> <img src="static\ubcrocket.jpg" style="max-width: 20px; max-height: 20px;">  UBC Rocket —  Airframe and Internals  </h3>
    <p class="italic"> Febuary 2022 - Present     </p>
    <div class="silverline"></div>
    <div class="row">
        <div class="column">
        <img src="static/ailoadcell.jpg" alt="UBC Image" class="w3-image" style="display:block;margin:auto" onclick="myFunction(this);"> 
        </div>
        <div class="column">
        <video max-width=auto height=auto controls="controls"/> 
        <source src="static\rcstest.mp4"
        type="video/mp4"> </video> 
        </div>
        <div class="column">
            <img src="static\aivalue.jpg" class="w3-image" style="display:block;margin:auto" alt="UBC Image" onclick="myFunction(this);"> 
        </div>
    </div>
    <div class="container">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
        <img id="expandedImg" style="width:100%">
        <div id="imgtext"></div>
      </div>
    <p class="big">
        Measured force and pressure within an RCS (Roll Control System) test stand using Labjack and Labview
        <br>
        Calibrated a strain gauge S-type load cell for up to 30 kg
        <br>
        <br>
    </p>
    <div class="silverline"></div>

</div>
</div>


{% endblock %}