{% extends "resume.html" %}

{% block content %}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    div.techproj {
        color: white;
        background-color: var(--darkerblue);
        padding: 20px; 
        margin: 25px;
        animation-name: linetrans;
        animation-duration: 2s;
        animation-timing-function: linear;
        border: 2px solid silver;
        border-radius: 5px;
        position: relative;
    }

    div.program {
        color: white;
    }

    div.elec {
        color: white;
    }

    div.mech {
        color: white;
    }

    p.italic {
      font-style: italic;
    }

    h3.bold{
        font-style: bold;
    }

    body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   }
   
   #btn {
      border: none;
      background-color: var(--darkerblue);
      font-family: 'Playfair Display SC', serif;
      color: grey;
      font-size: 18px;
      padding: 10px; 
      margin: 25px;
      border: 2px solid grey;
   }

   #programbtn {
      border: none;
      background-color: var(--darkerblue);
      font-family: 'Playfair Display SC', serif;
      color: grey;
      font-size: 18px;
      padding: 10px; 
      margin: 25px;
      border: 2px solid grey;
   }

   #elecbtn {
      border: none;
      background-color: var(--darkerblue);
      font-family: 'Playfair Display SC', serif;
      color: grey;
      font-size: 18px;
      padding: 10px; 
      margin: 25px;
      border: 2px solid grey;
   }

   #mechbtn {
      border: none;
      background-color: var(--darkerblue);
      font-family: 'Playfair Display SC', serif;
      color: grey;
      font-size: 18px;
      padding: 10px; 
      margin: 25px;
      border: 2px solid grey;
   }
   
    @keyframes linetrans {
	0% {transform: scale(0, .025);}
    1% {background-color: white; top: 100px;}
    69% {background-color: white;}
	70% {transform: scale(1, .025); top: 0px;}
    95% {transform: scale(1, 1);}
    100% {background-color: var(--darkerblue);}
    }
</style>

<title>Technical Projects</title>
<h2> TECHNICAL PROJECTS </h2>

<button id="btn">Show All</button>
<button id="programbtn">Software</button>
<button id="elecbtn">Electrical</button>
<button id="mechbtn">Mechanical</button>

<script>
const btn = document.getElementById('btn');
const programbtn = document.getElementById('programbtn');
const elecbtn = document.getElementById('elecbtn');
const mechbtn = document.getElementById('mechbtn');

programbtn.addEventListener('click', () => {
	const techprojs = document.getElementsByClassName('techproj');
	const programs = document.getElementsByClassName('program');

	for (const techproj of techprojs) {
        techproj.style.display = "none";
	}

    for (const program of programs) {
        program.style.display = "block";
	}

});

elecbtn.addEventListener('click', () => {
	const techprojs = document.getElementsByClassName('techproj');
	const elecs = document.getElementsByClassName('elec');

	for (const techproj of techprojs) {
        techproj.style.display = "none";
	}

    for (const elec of elecs) {
        elec.style.display = "block";
	}

});

mechbtn.addEventListener('click', () => {
	const techprojs = document.getElementsByClassName('techproj');
	const mechs = document.getElementsByClassName('mech');

	for (const techproj of techprojs) {
        techproj.style.display = "none";
	}

    for (const mech of mechs) {
        mech.style.display = "block";
	}

});

btn.addEventListener('click', () => {
	const techprojs = document.getElementsByClassName('techproj');

	for (const techproj of techprojs) {
            techproj.style.display = "block";
	}
});

</script>

<div class="grid-container">
    <div class="techproj program">
        <h3 class="bold"> Wikipedia Web-scraper </h3>
        <p class="italic">Java</p>
        <p class="big">
            Implemented depth-first search and reverse hashmap sorting to determine the shortest path between two Wikipedia pages
            <br>
            Created a Wikipedia mediator server which retrieved pages and statistical information regarding requests
            <br>
            Utilized caching and staleness intervals to minimize network access
        </p>
    </div>
    
    <div class="techproj program">
        <h3 class="bold"> Portfolio Website    </h3>
        <p class="italic"> HTML/CSS, Flask, Javascript</p>
        <p class="big">
            Created and designed a website to display experiences, projects, and skills creatively and interactively with HTML, CSS, Python and Flask
        </p>
    </div>
    
    <div class="techproj program">
        <h3 class="bold"> Email Analyzer </h3>
        <p class="italic">Java</p>
        <p class="big">
            Used graph theory to collect and advanced metrics based on a chain of emails, with filters to specify interactions
            <br>
            Generated reports on certain users and time frames, as well as compared users based on different types of activity
            <br>
            Used JUnit and test-driven development for 97% line coverage
        </p>
    </div>
    
    <div class="techproj program">
        <h3 class="bold"> Plagiarism Detector </h3>
        <p  class="italic">Java</p>
        <p class="big">
            Created a document analyzer using Java that parsed through websites or text files to determine sentence and word level metrics, and similarity 
        <br>
            Developed algorithms to perform linguistic analysis using the Google Sentiment Analysis API 
        <br>
            Compared documents and partitioned them accordingly using similarity metrics
        <br>
            Used JUnit and test-driven development for 94% branch coverage
        </p>
    </div>
    
    <div class="techproj program mech">
        <h3 class="bold"> Arduino Robotic Claw </h3>
        <p class="italic">C, Mechanical Design</p>
        <p class="big">
            Mechanically developed an autonomous claw that senses and picks up objects of various shapes and sizes, ranging from an almond to a full pop can
        <br>
            Led development of firmware for functionality of mechanical components of claw using C and the Arduino IDE 
        <br>
            Prototyped and tested various mechanical iterations to optimize design and precision 
        </p>
    </div>
    
    <div class="techproj elec">
        <h3 class="bold"> Analog-Digital Converter </h3>
        <p class="italic">Electrical Design</p>
        <p class="big"> 
            Created a circuit to convert an analog voltage into a digital representation via pulse generation that is then outputted into a number displayed by small LEDs
            <br>
            Used NOT gates, NAND gates, Op-Amps, flip-flops, counters, Schmitt-trigger Inverters within pulse generators, converters, and control logic gates
        </p>
    </div>
    
    <div class="techproj elec">
        <h3 class="bold"> Circuit Design and Analysis Lab </h3>
        <p class="italic">Electrical Design</p>
        <p class="big"> 
            Experimentally designed and troubleshot steady-state RC circuits, damped harmonic oscillators, voltage amplifiers, NAND gates, and logic gates made from MOSFET and BJT transistors 
            <br>
            Determined values for capacitors, frequency responses, time constants, resonant frequency and damping, diodes, switching latency, amplitude responses, and critical operating parameters
            <br>
            Mathematically modelled results through curve-fitting and waveform function via MATLAB
            </p>
    </div>
    
    <div class="techproj mech">
        <h3 class="bold"> Cardboard Chair </h3>
        <p class="italic">Mechanical Design</p>
        <p class="big"> Created a full-sized chair purely out of cardboard that held over 300 pounds without breaking 
            <br>
            Used interlocking supports to maximize strength and prioritized the user through back and arm supports for ergonomic strength 
            <br>
            Placed first out of 6 teams by using rapid full-scale prototyping with cardboard to analyze areas of weakness 
        </p>
    </div>
    
    <div class="techproj mech">
        <h3 class="bold"> Popsicle Bridge </h3>
        <p class="italic">Mechanical Design</p>
        <p class="big">
            Designed and built a 145 g popsicle stick bridge, made from popsicle sticks and white glue, that held 309 pounds (140 kg)
            <br>
            Achieved first place out of 20 teams, with the bridge holding 967% times its weight 
            <br>
            Utilized rapid prototyping to test forces applied and drew engineering drawings to accurately design new iterations
        </p>
    </div>
</div>


{% endblock %}