{% extends "base.html" %} 

{% block content %}
<style>
div.user{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

</style>

<h1>C O N T A C T&nbsp&nbsp&nbspM E</h1>
<hr>

<div id="user">
<h2>Thank you for submitting your query!</h3>
<p class="big">Below is what you submitted!</p>
<br>
<br>
<div class="silverline"></div>
<br>
<table class="center">
    {% for key,value in result.items() %}
    <tr>
        <th>
            {{key}}
        </th>
        <td>
            {{value}}
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<br>
<div class="silverline"></div>
<br>
</div>
<p class="big">Feel free to browse more of the website, or ask more questions!</p>
{% endblock %}